<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>write</title>
<link href="/css/menu.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
	<div class="outer">
	<form action="update.ac" method="post">
      <table align="center">
         <tr>
            <th colspan="2" bgcolor="yellow" height="30">상 세 보 기</th>
         </tr>
         <tr>
            <td>제목</td>
            <td><input name="title" th:value="${board.title}"></td>
         </tr>
         <tr>
            <td>작성자</td>
            <td name="writer" th:text="${board.writer}"></td>
         </tr>
         <tr>
            <td>작성일</td>
            <td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
         </tr>
         <tr>
            <td>조회수</td>
            <td colspan="2" align="right" th:text="|조회수: ${board.count}|"></td>
         </tr>
         <tr>
            <td>내용</td>
            <td><textarea name="content" th:text="${board.content}" rows="10" cols="50"></textarea></td>
         </tr>
         <tr>
            <td th:if="${loginMember == null}" colspan="2" align="center"><hr>
            	<input type="button" value="리스트" onclick="location.href='list.ac'">
            </td>
            <td th:if="${loginMember != null}" colspan="2" align="center"><hr>		
            	<input type="submit" value="수정">&emsp;
            	<input type="button" value="리스트" onclick="location.href='list.ac'">
			</td>
         </tr>
      </table>  
      <input type="hidden" name="bNo" th:value="${board.bNo}">
   </form>
   </div>
</body>
</html>